<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Endpass Dice</title>
    <link rel="icon" type="image/png" href="dist/img/ico.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="dist/css/styles.css">
</head>

<body style="background-color:#eef4f7;font-family:Alegreya, serif;padding-bottom:100px;">
    <nav class="navbar navbar-light navbar-expand-xl">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="dist/img/dice-png-27643.png" class="mr-3" style="width:100px;">
                <h2 class="d-inline">Endpass Dice</h2>
            </a>
        </div>
    </nav>
    <section id="app" v-cloak>
        <div class="container" style="max-width: 980px;">
            <div class="row">
                <div class="col-12 col-md-6 mt-2 h-100">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <p class="h5 mb-0">Your balance
                                        <span class="ml-2 mr-2 h4 mb-0">{{ balance }}</span>credits</p>
                                </div>
                                <div class="col-12 text-center mt-2">
                                    <button class="btn btn-primary" 
                                        type="button" :disabled="balance > 0" @click="getFreeCredits">
                                            Get free credits
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <p class="mb-0">
                                <span>Provably Fair Hash:&nbsp;</span> 
                                <span>{{ hash }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="text-center mt-4 mb-5">Man, place your bet!</h1>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col d-flex justify-content-center justify-content-sm-center justify-content-md-end">
                            <label class="col-form-label d-inline-flex align-items-center h-100" 
                                style="font-size:25px;">
                                    Bet Amount
                            </label>
                        </div>
                        <div class="col-12 col-sm-auto d-flex justify-content-center">
                            <input type="text" v-model="betAmount" class="text-center form-control bet-input" :class="{'is-invalid': !validateBetAmount}" :disabled="inProcess" />
                        </div>
                    </div>
                </div>
                <div class="col text-left">
                    <div class="row">
                        <div class="col-12 col-sm-auto d-flex justify-content-center justify-content-sm-center justify-content-md-end">
                            <label class="col-form-label d-inline-flex align-items-center h-100" style="font-size:25px;">Number</label>
                        </div>
                        <div class="col d-flex justify-content-center justify-content-md-start">
                            <input type="text" v-model="number" class="text-center form-control bet-input" :class="{'is-invalid': !validateNumber}" :disabled="inProcess" />
                        </div>
                    </div>
                </div>
            </div>
            <p class="mt-1 text-danger text-center" v-html="errorText"></p>
            <div class="row mt-4">
                <div class="col text-right">
                    <div class="row">
                        <div class="col-sm-12 col-md-7 offset-sm-0 offset-md-5 text-right">
                            <button class="btn btn-info btn-block btn-lg" 
                                type="button" :disabled="isDisabled" @click="makeBet('Hi')">
                                    Bet Hi
                            </button>
                            <h6 class="text-left pl-3 font-italic mt-1">{{ 'number >= ' + number  }}</h6>
                            <ul class="text-left" style="margin:0;">
                                <li>{{ 'chance: ' + betHiChance }}</li>
                                <li>{{ 'payout: ' + betHiPayout  }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col text-left">
                    <div class="row">
                        <div class="col-sm-12 col-md-7 text-right">
                            <button class="btn btn-warning btn-block btn-lg" 
                                type="button" :disabled="isDisabled" @click="makeBet('Lo')">
                                    Bet Lo
                            </button>
                        </div>
                    </div>
                    <h6 class="text-left pl-3 font-italic mt-1">{{ 'number <= ' + number  }}</h6>
                    <ul class="text-left" style="margin:0;">
                        <li>{{ 'chance: ' + betLoChance }}</li>
                        <li>{{ 'payout: ' + betLoPayout  }}</li>
                    </ul>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-sm-10 col-md-6 offset-sm-1 offset-md-3">
                    <p class="d-inline-flex custom-control custom-checkbox h5">
                        <input type="checkbox" id="bot" class="custom-control-input" v-model="botEnabled" :disabled="inProcess"/>
                        <label for="bot" class="d-inline-flex custom-control-label pl-2">
                            Repeat my bet
                        </label>
                    </p>
                    <input type="text" class="d-inline-flex text-center ml-2 mr-2 form-control pl-0 pr-0" style="width:3rem; font-size: 1.2rem" :disabled="!botEnabled || inProcess" v-model="timesRepeat"/>
                    <span class="h5">times</span></div>
            </div>
            <div class="row mt-4" :style="{visibility: justOpen ? 'hidden' : 'visible'}">
                <div class="col-sm-12 col-md-8 offset-md-2">
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <span class="d-flex justify-content-center justify-content-md-end h1">RESULT</span>
                        </div>
                        <div class="col-sm-12 col-md-2 num-block">
                            <span class="h1">&nbsp;</span>
                            <span class="justify-content-center h1 win-animate">
                                <span v-for="n in numbersForAnimate" v-html="n"></span>
                            </span>
                        </div>
                        <div class="col-sm-12 col-md-5">
                            <span class="d-flex justify-content-center justify-content-md-start h1" 
                                :class="[win ? 'text-success' : 'text-danger']"
                                    v-html="win === null ? '&nbsp;' : win ? 'WIN!!!' : 'Loose'">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4" v-if="botBetResults.length">
                    <div class="col-12 col-md-10 offset-md-1">
                        <h3 class="text-center">Bot bet results</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th width="10%">number</th>
                                    <th width="10%">Amount</th>
                                    <th width="45%">Hash</th>
                                    <th width="15%">Result</th>
                                    <th width="15%">Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="res, i in botBetResults">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ res.number }}</td>
                                    <td>{{ res.amount }}</td>
                                    <td style="display: grid">
                                        <span class="text-truncate" :title="res.hash">{{ res.hash }}</span>
                                    </td>
                                    <td :class="[res.res ? 'text-success' : 'text-danger']">
                                        {{ res.res ? 'WIN' : 'Loose' }}
                                    </td>
                                    <td>{{ res.balance }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="dist/js/app.js"></script>
</body>

</html>